*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}

:root {
    --bg: #000000;
    --clr-1: #00c2ff;
    --clr-2: #33ff8c;
    --clr-3: #ffc640;
    --clr-4: #e54cff;
  
    --blur: 1rem;
    --fs: clamp(3rem, 8vw, 7rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);
  }

body{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(12, 12, 14);
    font-family: "Inter", "DM Sans", Arial, sans-serif;
    background-color: var(--bg);
    color: #fff;
    height: 100%;
    user-select: none;
    user-select: none;
}

a{
    text-decoration: none;
    color: white;
}


.head{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.head ol{
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgba(19, 19, 21, 0.783);
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    font-weight: 500;

}

#name{
    color: rgb(255, 255, 255);
}

.mid{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    gap: 26%;
    margin-top: 14%;
    line-height: 2rem;
}

.desc{
    color: rgb(255, 255, 255);
}

.desc p{
    text-align: justify;
}
.headline{
    text-align: justify;
    padding-bottom: 10px;
}

.image_my img {
    border-radius: 50%;
    box-shadow: 0 0 30px rgb(255, 255, 255); 
}


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");


.content {
  text-align: center;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg);
  margin: 0;
}

.subtitle {
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: darken;
  pointer-events: none;
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
  aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
  aurora-4 24s ease-in-out infinite alternate;
}

.my_quali h1 {
  margin-top: 12%;
  margin-bottom: 5%;
  text-align: center;

}



.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(19, 19, 21, 0.783);
  margin: 20px;
  padding-top: 10px;
  border-radius: 20px;
}

.footer ol {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.show_tabs{
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
}


.card {
  background-color: #ffffffa8; 
  box-shadow: 0 0 30px rgb(255, 255, 255);
  transition: 1.02s;
}

.card:hover{
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.411);
}




@media (max-width: 772px) {
  
  .show_tabs {
    display: flex;
    flex-direction: row; 
    gap: 15px;
}




  .mid {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 14%;
      line-height: 2rem;
  }


  .image_my {
      margin-bottom: 30px;
      order: -1; /* This will place the image above the text */
  }

  .mid h1 {
      text-align: center;
  }

  .desc {
      color: rgb(255, 255, 255);
  }

  .desc p {
      text-align: justify;
  }

  .headline {
      text-align: justify;
      padding-bottom: 10px;
  }

  .image_my img {
      border-radius: 50%;
      box-shadow: 0 0 30px rgb(255, 255, 255);
  }

}






@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

