*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2e2e2e;
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #73bdee;
    width: 400px;
    margin: 0 auto; 
    margin-top: 15%;
    border-radius: 20px;
}

form{
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.display{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    padding: 10px;
    font-size: large;
    font-style: italic;
    border-radius: 20px;
    border-style: none;
}

button{
    border-radius: 50%;
    padding: 10px;
    border-style: none;
    font-weight: bold;
    font-size: large;
}

.emoji{
    font-size: 60px;
}

.temp{
    font-size: 60px;
    color: white;
}

.cityN{
    font-size: 50px;
    color: white;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.779);
}


@media(max-width:442px){
    .container{
        width: 300px;
    }
}

